{% block form_row %}
    <div class="form-group">		        
		<div class="row">
			<div class="col-sm-12 col-md-2">		
				{{ form_label(form) }}
			</div>
			<div class="col-sm-12 col-md-10">
				{{ form_widget(form, {'attr': {'class':'form-control'}}) }}
			</div>
		</div>
    </div>
{% endblock %}