{% extends 'layout.html.twig' %}

{% block title %}RandoMovies - Suggestion{% endblock %}

{% block body %}

	<div class="row main-row">
		<div class="col-md-12">
		
			<h2>Faire une suggestion</h2>
			
			<p>Retrouvez (peut-être) les films que vous avez particulièrement adorés sur Randomovies en faisant une suggestion! Celle-ci sera traitée dans les plus brefs délais!</p>
			
			{{ form_start(form) }}
				<label>Titre du film que vous souhaitez suggérer</label>
				{{ form_widget(form.movieTitle, {'attr': {'class': 'form-control mb-4'}}) }}
				<input type="submit" class="btn btn-success" value="Suggérer" />
			{{ form_end(form) }}
			
			<br />
			
		</div>
	</div>

{% endblock %}