{% extends 'layout.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">

            <h2>Importer des films</h2>

            {{ form_start(form) }}
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}