{% extends 'layout.html.twig' %}

{% block body_class %}admin{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12 m-3">

            <h2>Importer des films</h2>
			
			<br />
			
			{{ form_start(form) }}
			
			<div class="row">
				<div class="col-lg-6 col-md-12">{{ form_row(form.file) }}</div>
				<div class="col-lg-6 col-md-12">{{ form_row(form.importer) }}</div>
			</div>
			
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}