{% extends 'layout.html.twig' %}

{% block title %}Randomovies - Mot de passe oublié ?{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <h2>Ré-initialiser votre mot de passe</h2>
                <p>Indiquez ici votre adresse mail :</p>
                {{ form_start(form) }}
                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}