/app/config/parameters.yml
/bin/config/parameters.yml
/config/parameters.yml

/public/bundles/*

/build/
/phpunit.xml

/var/bootstrap.php.cache

!/var/cache
/var/cache/*
!var/cache/.gitkeep

!/var/logs
/var/logs/*
!var/logs/.gitkeep

/var/log
/docker/elasticsearch/data
/docker/database/data

.idea/

!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep

/var/SymfonyRequirements.php

/vendor/
/web/bundles/

.env
/bin/composer
composer-setup.php

/docker/database/data/

/public/images/fake_posters/*.*
/public/images/medias/*.*
/public/images/posters/*.*
/public/images/posters/medium/*.*
/public/images/posters/small/*.*
/public/images/users/photos/*.*
/public/images/users/photos/medium/*.*
/public/images/users/photos/small/*.*
/public/images/actors/*.*

!/public/images/posters/.gitkeep
!/public/images/posters/medium/.gitkeep
!/public/images/posters/small/.gitkeep
!/public/images/actors/.gitkeep

/node_modules/

.buildPath
.project
.settings/
