{% extends 'admin/layout/new.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Admin - Movie Create{% endblock %}
{% block new_title %}Créer un nouveau film{% endblock %}

{% block new_top_buttons %}<a class="btn btn-secondary" href="{{ path('admin_movie_index') }}">Retour à la liste</a>{% endblock %}

{% block new_content %}

    {{ include('admin/movie/movie_form/movie_form.html.twig', {'form': form}) }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/admin/add_tag.js') }}"></script>
    <script src="{{ asset('js/admin/collection_holder.js') }}"></script>
{% endblock %}