{% extends 'layout.html.twig' %}

{% block title %}RandoMovies - Home{% endblock %}

{% block body %}
	<div class="col-md-8 jumbotron">
		<h2 class="text-center">{{ actor.getFullName() }}</h2>
		<hr />
	</div>
{% endblock %}
