{% extends 'layout.html.twig' %}

{% block title %}RandoMovies - Tous les films{% endblock %}

{% block body %}

	<div id="list-all-movies" class="col-md-8">
		<h3 class="text-center">Tous Les Films</h3>

		{% set lettre = '' %}
		{% for movie in movies %}
			{% if movie.title|slice(0,1) != lettre %}
				{% set lettre = movie.title|slice(0,1) %}
				<h4>{{ lettre }}</h4>
			{% endif %}
			<a href="{{ path('show', { 'id' : movie.id }) }}">{{ movie.title }}</a><br/>
		{% endfor %}
	</div>
	
{% endblock %}
