{% extends 'layout.html.twig' %}

{% block title %}RandoMovies - Tous les acteurs{% endblock %}

{% block body %}

	<div id="list-all-actors" class="col-md-8">
		<h3 class="text-center">Tous les acteurs</h3>

		{% set lettre = '' %}
		{% for actor in actors %}
			{% if actor.lastname|slice(0,1) != lettre %}
				{% set lettre = actor.lastname|slice(0,1) %}
				<h4>{{ lettre }}</h4>
			{% endif %}
			<a href="{{ path('show_actor', { 'id' : actor.id }) }}">{{ actor.getFullName() }}</a><br/>
		{% endfor %}
	</div>

{% endblock %}
