@import 'colors';

.randomovies-btn-reset {
	background-color: $tertiaryColor;
	border: solid 1px $tertiaryColor;
	color: white;
	
	&:hover {
		background-color: rgba(0,0,0,0);
		color: $tertiaryColor;
	}
}

.randomovies-btn-confirm {
	background-color: $primaryColor;
	border: solid 1px $primaryColor;
	color: white;
	
	&:hover {
		background-color: rgba(0,0,0,0);
		color: $primaryColor;
	}
}