$clearBlue: #3498db;
$deepBlue: #2980b9;

$primaryColor: #2980b9;
$adminPrimaryColor: #a55eea;
$secondaryColor: #e74c3c;
$tertiaryColor: #ff793f;
$grey: #7f8c8d;

$newDarkColor: #101010;
$newPrimaryColor: #299fd1;
$newLightGray: #ebebeb;
$newDarkGray: #9f9f9f;