// colors set one
$color1: rgb(12, 38, 63); // navabar color
$color2: rgb(139, 122, 103); // subnavbar color
$color3: rgb(24, 31, 37); // main background color
$color4: rgb(194, 181, 164);
$color5: rgb(57, 121, 212);

// colors set two
//$color1: rgb(9, 37, 61); // navabar color
//$color2: rgb(64, 41, 46); // subnavbar color
//$color3: rgb(24, 31, 37); // main background color
//$color4: rgb(194, 181, 164);
//$color5: rgb(139, 122, 103);

$color6: rgb(18, 77, 204);
$color7: rgb(64, 41, 46);

// grey colors
$grey1: rgb(128,128,128);	
$grey2: rgb(144,144,144);	
$grey3: rgb(160,160,160);	
$grey4: rgb(169,169,169);	
$grey5: rgb(184,184,184);
$grey6: rgb(192,192,192);	
$grey7: rgb(208,208,208);
$grey8: rgb(216,216,216);
