@import 'colors';
@import 'fonts';

// flash messages

#layout-alert-container {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 100000;
}

#main-container {
	/*background-color: lighten(black, 10%);*/
	background-image: url('../images/bg3.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: lighten(black, 50%);
	padding: 0px;
}

#main-container-private {
	background-color: white;
}

#main-container .main-row {
	margin: 0px;
	padding: 20px 20px 0px 10px;
}

a {
	color: $primaryColor;
	text-decoration: none;
	&:hover {
		color: lighten($primaryColor, 20%);
	}
}

main {
	margin: 0px;
}