@import 'colors';
@import 'fonts';

// navbar

nav {
	background-color: $primaryColor;
	color: white;
	border-bottom: 1px solid rgba(255,255,255,0.5);	
}

#site-title {
	background-color: lighten($primaryColor, 10%);
	text-align: center;
	h1 {
		line-height: 75px;	
		margin: 0px;
	}	
}

#menu {
	ul {
		margin: 0px;
		padding: 0px;
		li {
			display: inline-block;
			line-height: 75px;			
			padding: 0px 30px;
			&:hover {
				background-color: lighten($primaryColor, 10%);
				cursor: pointer;
			}
			a {
				text-decoration: none;
				color: white;
			}
			&.active {
				background-color: lighten($primaryColor, 10%); 
			}
		}
	}
	
	#my-account-menu {
		position: relative;
		line-height: 75px;
		background-color: lighten($primaryColor, 10%);
		text-align: center;
		img {
			height: 40px;
			width: 40px;
			border-radius: 50%;
		}
		a {
			text-decoration: none;
			color: white;
		}
		
		#account-menu {
			display: none;
			position: absolute;
			top: 75px;
			left: 0;
			background-color: #e67e22;
			z-index: 1000;
			width: 100%;
			
			ul {
				margin: 0px;
				padding: 0px;
				li {
					line-height: 50px;
					margin: 0px;
					padding: 0px;	
					display: block;
				}
			}
		}
		
		&:hover #account-menu {
			display: block;
		}
	}
	
	
}

// submenu

#submenu {
	background-color: darken($grey, 20%);
	color: white;
}
#submenu-search {
	background-color: darken($grey, 10%);
	text-align: center;
	padding: 25px 0px 20px 25px;
	input[type=text] {
		border-radius: 10px 0px 0px 10px;
		padding: 5px 45px 5px 10px;
		border: none;		
		width: 65%;
	}
	i.fas.fa-search {
		position: relative;
		left: -35px;
		color: darken($grey, 10%);
	}
	input[type=submit] {
		position: relative;
		left: -30px;
		padding: 5px;
		top: 0px;
		border: none;
		border-radius: 0px 10px 10px 0px;
		background-color: $secondaryColor;
		color: white;
		width: 25%;
		&:hover {
			background-color: lighten($secondaryColor, 10%);
			cursor: pointer;
		}
	}
}
#submenu-categories {	
	padding: 25px 0px 20px 35px;
	ul {
		padding: 0px 0px 0px 15px;
		margin-top: 10px;
		li {
			a {
				text-decoration: none;
				color: darken(white, 25%);
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

#main-container {
	/*background-color: lighten(black, 10%);*/
	background-image: url('../images/bg3.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: lighten(black, 50%);
}

.custom-pagination {
	display: block;
	text-align: center;
	
	li {
		border: solid 1px $primaryColor;
		color: $primaryColor;
		display: inline-block;
		padding: 5px 10px;
		border-radius: 3px;
		
		&:hover {
			color: white;
			background-color: $primaryColor;
			cursor: pointer;
		}		
	}
	
	
}

a {
	color: $primaryColor;
	text-decoration: none;
	&:hover {
		color: lighten($primaryColor, 20%);
	}
}