@import 'colors';

.main-movie-cover {
	width: 80%;	
	margin: 0px auto;	
	display: block;
	box-shadow: 3px 3px 10px rgba(200,200,200,0.25);
}

.main-movie-synopsis, .main-movie-details, .main-movie-actors, .main-movie-critique {
	margin-bottom: 40px;
	
	i {
		margin-right: 5px;
	}
}

.main-movie-infos {
	color: lighten(black, 50%);
	margin-left: 20px;
}

.main-movie-title {
	h2 {
		font-size: 300%;		
	}
}

.main-movie-stars {
	img {
		width: 30px;
		height: 30px;
		display: inline-block;
	}
}

.another-random-movie-button {
	border: solid 1px $secondaryColor;
	background-color: rgba(255,255,255,0);
	color: $secondaryColor;
	font-size: 125%;
	padding: 10px 20px;
	border-radius: 5px;	
	display: block;
	margin: 0px auto;
	text-align: center;
	width: 90%;
	transition: all 250ms linear;	
	
	&:hover {
		background-color: $secondaryColor;
		color: white;
		text-decoration: none;		
	}
}

.suggestion-cover {
	width: 90%;
}