@import 'colors';

#suggestions-bar {
	margin: 0px 50px 30px;
	box-shadow: 3px 3px 5px lighten(black, 10%);
	background-color: lighten(black, 50%);
	color: lighten(black, 10%);
	
	h3 {
		margin: 20px auto 10px;
		color: white;
	}	
	
	.one-suggestion {
		text-align: center;
		margin: 10px auto 20px;
		
		p {
			margin-bottom: 0px;
			font-size: 125%;
		}
		
		small {
			color: white;
			background-color: lighten($secondaryColor, 10%);
			border: solid 1px lighten($secondaryColor, 10%);
			padding: 5px;
		}

		a {
			text-decoration: none;
			color: white;
			a:hover {
				color: darken(white, 25%);
			}
		}
	}
}