{% extends 'layout.html.twig' %}

{% block body_class %}admin{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3">
                [ <a href="{{ path('admin_movie_index') }}">Liste des films</a> | <a href="{{ path('admin_person_index') }}">Liste des personnes</a> | <a href="{{ path('admin_tag_index') }}">Liste des tags</a> ]
            </div>

            <div class="col-md-12 mt-3">

                <div class="row">
                    <div class="col-md-6">
                        <h2 class="mb-4">
                            {% block edit_title %}{% endblock %}
                        </h2>
                    </div>
                    <div class="col-md-6">
                        <div class="float-right">
                            {% block edit_top_buttons %}{% endblock %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        {% block edit_content %}{% endblock %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}