{% extends 'layout.html.twig' %}

{% block title %}RandoMovies - Suggestions{% endblock %}

{% block body %}

	<div id="contenu" class="container">		
		<div id="suggestions" class="row">			

			<div class="col-lg-12">					
				<p>Sur Randomovies, plus vous notez de films, plus vous obtenez de suggestions précises.</p>
				<p>Nous considérons qu'un film noté correspond à un film vu. Par conséquent, une fois noté, un film n'apparaîtra plus dans la liste des suggestions.</p>

				{% if not app.user %}
					<p>Connectez-vous afin d'obtenir des suggestions de films personnalisées !</p>
				{% else %}
					<div class="row">
						{% for movie in recommendations %}
							<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">					
								<a href="{{ path('show', { 'id' : movie.id }) }}">
									<div class="grey-bg">
										<img class="" src="{{ asset('images/posters/small/' ~ movie.poster) }}" />
									</div>
									{{ movie.title }}
								</a>
							</div>
						{% endfor %}						
					</div>
					{% if recommendations|length == 0 %}						
						<p>Nous n'avons pas de suggestions à vous faire pour le moment. Essayez de noter plus de films et revenez un peu plus tard...</p>
					{% endif %}
				{% endif %}
			</div>

		</div>
	</div>			

{% endblock %}