{% extends 'admin/layout/new.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Admin - Person Create{% endblock %}
{% block new_title %}Ajouter une nouvelle personne{% endblock %}

{% block new_top_buttons %}<a class="btn btn-secondary" href="{{ path('admin_person_index') }}">Retour à la liste</a>{% endblock %}

{% block new_content %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="float-right">
            <input class="btn btn-success" type="submit" value="Enregistrer" />
        </div>
    {{ form_end(form) }}

{% endblock %}