@import './../colors.scss';

#acteurs {
    #acteurs-columns {
        column-count: 3;
    }
    a {
        color: white;	
        &:hover {
            color: $newPrimaryColor;
        }
    }
}

.acteur-main-pic {
	width: 100%;
}
.acteur-pic {
	width: 100%;	
}

#acteur {
    .filmographie {
        padding: 0px;
        li {
            display: block;
        }
    }
}