#movie {
    a#next {
        color: #101010;
        &:hover {
            color: white;
            text-decoration: none;
        }
    }

    .rating-randomovies-stars {
        text-align: right;
    }

    .movie-tags {
        h5 {
            display: inline-block;
        }
    }
}