<h1>Bonjour !</h1>
<p>
    Votre commentaire a bien été enregistré !
</p>
<p>
    {{ comment }}
</p>
<p>
    Pour le visualiser :
</p>
<p>
    <a href="{{ url('show', {'id': movie_id}) }}">par ici</a>
</p>
<p>
    L'équipe Randomovies.
</p>