<h1>Gros boulet ! Vous avez oublié votre mot de passe hahaha !!!</h1>
<p>
    Pour retrouver votre mot de passe, suivez ce lien :
</p>
<p>
    <a href="{{ path('password_recover', {'token': token}) }}">par ici</a>
</p>
<p>
    L'équipe Randomovies.
</p>