<h1>Vous avez oublié votre mot de passe !</h1>
<p>
    Pour retrouver votre mot de passe, suivez ce lien :
</p>
<p>
    <a href="{{ url('password_recover', {'token': token}) }}">par ici</a>
</p>
<p>
    L'équipe Randomovies.
</p>