{% extends 'emails/emails_layout.html.twig' %}

{% block email_content %}
<p>
    Votre mot de passe a bien été ré-initialisé.
</p>
<p>
    Pour vous connecter :
</p>
<p>
    <a href="{{ randomovies_domain }}{{ path('login') }}">par ici</a>
</p>
{% endblock %}