<h1>Bonjour !</h1>
<p>
    Vous êtes maintenant inscrit sur Randomovies !
</p>
<p>
    Pour vous connecter :
</p>
<p>
    <a href="{{ url('login') }}">par ici</a>
</p>
<p>
    L'équipe Randomovies.
</p>