<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Randomovies">
		<meta name="author" content="CopierAndColler">
		<!--<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />-->

		<title>{% block title %}Randomovies - {% endblock %}</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
		{% endblock %}
	</head>

	<body class="{% block body_class %}public{% endblock %}">
		
		{% for label, messages in app.flashes(['danger', 'success', 'warning']) %}
			<div id="layout-alert-container">
				{% for message in messages %}
					<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{ message }}
					</div>				
				{% endfor %}
			</div>
		{% endfor %}

    	{% include 'menu.html.twig' %}

		{% block body %}{% endblock %}

		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{#		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossori	gin="anonymous"></script>#}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
		
		<script>
			
			$(function(){
				
				// inside minimal menu open submenus
				$('#sub-minimal-menu .with-subsubmenu .clickable').on('click', function() {
					var subsubmenu = $(this).parent().find('.subsubmenu');
					var iDown = $(this).parent().find('i.fas.fa-angle-down');
					var iUp = $(this).parent().find('i.fas.fa-angle-up');
					subsubmenu.toggle();
					iDown.toggle();
					iUp.toggle();
				});  
				
				// main menu adaptation for mobile and no hover
				$('#minimal-menu-btn-hoverable').on('click', function() {
					$('#menu li#minimal-menu-btn #sub-minimal-menu').addClass('clickable');
					$('#menu li#minimal-menu-btn #sub-minimal-menu').toggleClass('clicked');
				});
				$('#minimal-menu-btn-hoverable').on('mouseleave', function() {
					if (!$('#menu li#minimal-menu-btn #sub-minimal-menu').hasClass('clicked')) {
						$('#menu li#minimal-menu-btn #sub-minimal-menu').removeClass('clickable');
					}
				});


				
			}); 
		
		</script>

		{% block javascripts %}
		
		{% endblock %}

	</body>
</html>