{% extends 'layout.html.twig' %}

{% block title %}Admin - Movie Creation{% endblock %}

{% block body %}
	<div class="container">
		<div class="jumbotron">
		
			<h1 class="text-center">Movie Creation</h1>
			<hr/>

			{{ include('movie/movie_form/movie_form.html.twig', {'form': form}) }}

		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>

//        var $collectionHolder;

        $(function(){

            console.log("jQuery ready!");

            $collectionHolder = $('ul.roles');
            $collectionHolder.data('index', $collectionHolder.find(':input').length / 3); // divisé par 3 car compte le nombre de champs

	        function addOneRole($collectionHolder) {
	            console.log("addOneRole function...");

            	var prototype = $collectionHolder.data('prototype');

	            var index = $collectionHolder.data('index');

	            var newForm = prototype;
				// You need this only if you didn't set 'label' => false in your tags field in TaskType
				// Replace '__name__label__' in the prototype's HTML to
				// instead be a number based on how many items we have
				 newForm = newForm.replace(/__name__label__/g, index);

				// Replace '__name__' in the prototype's HTML to
				// instead be a number based on how many items we have
				newForm = newForm.replace(/__name__/g, index);

				// increase the index with one for the next item
				$collectionHolder.data('index', index + 1);

				// Display the form in the page in an li, before the "Add a tag" link li
				var $newFormLi = $('<li></li>').append(newForm);
                $collectionHolder.append($newFormLi);

        	}

            $addRoleButton = $('#add_role_button');

            $addRoleButton.on('click', function(e) {
                e.preventDefault();

                addOneRole($collectionHolder);
            });

        });

	</script>
{% endblock %}
